<!DOCTYPE HTML>
<html>

<head>
  <title>Shop</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
</head>

<body>
  <div class="container">
    <%- body %>
  </div>
  <script type="application/javascript" src="/js/jquerry.js"></script>
  <script type="application/javascript" src="/js/bootstrap.js"></script>
</body>

</html>